.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

select {
  appearance: none;
  padding: 0 30px 0 10px;
  height: 40px;
  background-color: none;
  background: no-repeat right 10px center;
  outline: none;
}

input[type='text'], input[type='password'] {
  padding: 2px 4px 2px 15px;
  line-height: 40px;
  height: 40px;
  outline: none;
  background: none;
  border: solid 1px #e0e0e0;
  transition: background-color 0.3s, border-color 0.3s;

  &:hover, &:focus {
    border: solid 1px black;
  }
}

button {
  padding: 12px 20px;
  height: 40px;
  font-size: 13px;
}

input[type='checkbox'] {
  position: relative;
  opacity: 1;
  cursor: pointer;
  width: 15px;
  height: 15px;
  appearance: none;
  border: 1px solid #000;
  background: #fff;
  outline: 0;
  box-sizing: content-box;
  background-size: 15px 15px;
}

textarea {
  padding: 2px 4px 2px 15px;
  line-height: 40px;
  border: solid 1px #e0e0e0;
  outline: none;
}
